html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #4e8b25, #0ba0e6, #0d1db1);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(225, 225, 225, 0.30);
    border: 1px solid rgba(225, 225, 225, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px, 35px;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(225, 225, 225, 0.75);
    border: 1px solid rgba(225, 225, 225, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(196, 170, 170, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: #0c0000;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: rgb(250, 244, 244);
    background: #d72;
}

.calc-button:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.calc-button:hover {
    background-color: inherit;
}

.calc-button:active {
    background-color: #ffef78;
}

.double {
    flex-basis: 47%;
}

.triple {
    flex-basis: 73%;
}
